@{
    ViewBag.Title = "CHÍNH SÁCH BẢO HÀNH";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
</br>
<h2>@ViewBag.Title.</h2>
<div>
    <center>
        <b>
            <p>
                BẢO HÀNH CẢ LỖI NGƯỜI DÙNG, CHẤT LƯỢNG CÓ ĐƯỢC ĐẢM BẢO?
            </p>
        </b></br>
</div>

<center><img src="~/Images/banner2.jpg" /></center>
<div>
    <p>
        Khi mua đồng hồ hay bất kì sản phẩm nào, điều khiến khách hàng quan tâm nhất đó chính là dịch vụ bảo hành. Càng những nơi có chính sách hấp dẫn và chất lượng bảo hành tốt càng được nhiều người tin tưởng và ủng hộ. </br>

        Riêng tại Xwatch, ngoài bảo hành quốc tế, đồng hồ được bảo hành 5 năm CẢ LỖI NGƯỜI DÙNG theo tiêu chuẩn Thụy Sĩ - đầu tiên và duy nhất tại Việt Nam.</br>

        Liệu khi khách hàng gây ra lỗi nhưng lại được Xwatch chịu trách nhiệm thì chất lượng bảo hành có được đảm bảo?
    </p>
    <b>
        <p>
            Tại sao TTShop lại bảo hành cho cả lỗi người dùng?
        </p>
    </b></br>

    <p>
        Đồng hồ gặp trục trặc phải đi bảo hành, sửa chữa là điều không ai mong muốn. Tuy nhiên, khi một cỗ máy vận hành, chúng đều có thể gặp những rủi ro. Khi đó, chính sách bảo hành của nhà cung cấp sẽ bảo vệ quyền lợi cho bạn.<br />

        Tuy nhiên, theo một cuộc khảo sát không chính thức với những người đã từng hoặc thường xuyên hỏng hóc đồng hồ thì có đến 95% lỗi gặp phải là do chính chủ sở hữu gây ra. Và họ phải mất một khoản không hề nhỏ để sửa chữa và tu bổ lại cỗ máy thời gian của mình. Một số lỗi có thể kể đến như:<br />

        Vô tình làm rơi vỡ mặt kính<br />
        Chỉnh giờ xong quên khóa núm khiến đồng hồ bị vào nước<br />
        Để quên đồng hồ trong phòng tắm dẫn đến hấp hơi<br />
        Những va chạm không mong muốn làm mặt kính bị xước<br />
        …..<br />

    </p>
</div>

<center><img src="~/Images/bh.jpg" /></center>
<div>
    <b>
        <p>
            Bảo hành cả lỗi người dùng có đảm bảo chất lượng không?
        </p>
    </b>
    <p>
        Những lỗi không may xảy ra nhưng người dùng phải mất tiền, thậm ở một số nơi, chất lượng bảo hành không được đảm bảo. Nhiều trường hợp thay mặt kính đồng hồ không cẩn thận, mang về chỉ mới rửa tay đã bị ngấm nước. Hay sấy khô máy do có hơi nước nhưng sấy quá nóng gây ảnh hưởng đến các bộ phận bên trong… Một số nơi đặt lợi ích đồng tiền lên trên còn cố tình để lại lỗi với mục đích khách hàng phải quay lại sửa chữa. “Chữa đui thành què”, vừa mất tiền vừa khiến cỗ máy thời gian trở nên trầm trọng hơn.</br>

        Đồng hồ mang đến bảo hành tại TTSHOP, dù là lỗi của nhà sản xuất hay người dùng đều được thực hiện đúng quy trình từ A đến Z. Cỗ máy của bạn sẽ được bảo hiểm cả lỗi người dùng với 10 công đoạn chặt chẽ, tỉ mỉ. Cụ thể là:</br>

        Vệ sinh vỏ bằng máy thu âm chuyên dụng.</br>
        Làm sạch các chi tiết máy bằng dung dịch đặc biệt và để khô tự nhiên.</br>
        Lắp ráp từng chi tiết và tra dầu theo tiêu chuẩn Thụy Sĩ.</br>
        Kiểm tra bằng máy đo chuyên dụng để cân bằng sai số.</br>
        Thay zoăng đáy và núm để đảm bảo độ kín cho đồng hồ.</br>
        Kiểm tra cẩn thận và điều chỉnh các chức năng của đồng hồ và máy đúng theo tiêu chuẩn Thụy Sĩ.</br>
        Thay pin cho đồng hồ Quartz.</br>
        Kiểm tra độ kín nước bằng máy nén khí chuyên dụng.</br>
        Đồng hồ cơ phải được kiểm tra khả trữ cót bằng máy Cylotest (ít nhất 36h sau khi cót đầy).</br>
        Kiểm tra thẩm mĩ cuối cùng sau khi cót đầy.</br>

    </p>

</div>
<center><img src="~/Images/bh1.jpg" /></center>
<div>
    <p>
        Chính đội ngũ “bác sĩ đồng hồ” có ít nhất 10 năm kinh nghiệm và tận tâm với nghề sẽ trực tiếp bảo hành đồng hồ giúp bạn. Bên cạnh đó, điều kiện cơ sở vật chất luôn được đảm bảo. Máy móc hiện đại đáp ứng đầy đủ yêu cầu cần có khi sửa chữa đồng hồ.</br>

        Một số dụng cụ và chất hóa học không thể thiếu tại các trung tâm bảo hành đó là: Dung dịch Ultrasonic dùng để làm sạch các bộ phận vỏ bằng sắt, máy sấy chuyên dụng, dụng cụ tháo - lắp đồng hồ, máy đo chuyên dụng để cân bằng sai số, máy nén khí để kiểm tra độ kín nước hay máy kiểm tra khả năng giữ cót Cylotest...</br>

        Vì vậy, dù là bảo hành miễn phí, là bảo hành lỗi do người dùng vô ý gây ra Xwatch luôn đảm bảo đúng và đủ quy trình, tiêu chuẩn như áp dụng với những lỗi bảo hành thông thường.
    </p>
</div>
</center>
