@{
    ViewBag.Title = "LIÊN HỆ ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
</br>
<h2>@ViewBag.Title.</h2>


<center>
    <p>
        ĐỊA CHỈ SHOP ĐỒNG HỒ BÌNH DƯƠNG <br/>
        SHOPDONGHO.com được thành lập từ năm 2004, với mục tiêu trở thành một trong những nhà bán lẻ sản phẩm đồng hồ CHÍNH HÃNG phổ biến nhất tại Việt Nam. Với hơn 14 năm không ngừng nỗ lực và phát triển, chúng tôi mong muốn mang lại cho khách hàng những sản phẩm hoàn hảo, với chính sách giá tốt nhất và những dịch vụ đi kèm đầy đủ.<br/>
    </p>
    <img src="~/Images/banner1.jpg" /> <br/>
    <p>
        Với mục tiêu trở thành thương hiệu gợi nhớ đầu tiên khi Khách hàng muốn mua đồng hồ chính hãng, đội ngũ TTSHOP.com đã không ngừng nổ lực phủ rộng các địa điểm bán hàng tại các khu vực sầm uất và đông dân cư, Bình Dương là một trong số đó.</br>

        Thấu hiểu được các nhu cầu mua sắm đồng hồ từ phía Khách hàng, TTSHOP.com đã kịp mang đến mảnh đất Bình Dương 2 Showroom, kèm theo là hàng ngàn chiếc đồng hồ với mẫu mã bắt mắt và chi phí phải chăng. Xin mời Quý khách hàng đến với Showroom Bình Dương gần nhất để được tư vấn cụ thể và chọn cho mình được sản phẩm yêu thích nhất:</br>
        Đặt xuất phát điểm đầu tiên tại những con đường mua sắm bậc nhất Sài Gòn – 15 Chi nhánh TTSHOP.com trải dài khắp miền Nam trở thành những địa điểm cần đến khi Quý khách hàng thân quen muốn mua sắm đồng hồ chính hãng trong suốt 16 năm qua. Là nhà phân phối chính thức và xuất sắc của nhiều thương hiệu đồng hồ chính hãng danh tiếng, Hệ thống 15 Showroom TTSHOP.com hân hạnh được phục vụ hơn 5000 lượt khách mỗi tháng. Với phương châm hoạt động đúng với slogan: “ĐỒNG HỒ PHẢI CHÍNH HÃNG, GIÁ PHẢI TỐT!”, SHOPDONGHO.com luôn cố gắng mang đến cho Quý khách hàng những lợi ích lớn nhất đến từ giá cả sản phẩm, chế độ bảo hành, chi phí sửa chữa, chính sách hậu mãi v.v…. </br>
        Kính mời Quý khách hàng đến với Showroom TTSHOP.com để nhận được những ưu đãi hấp dẫn nhất ngay hôm nay.
    </p>
    <address>
        TT SHOP<br />
        <abbr title="Phone">P:</abbr>
        03285424446
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:vohuynhtamtinh577@gmail.com">vohuynhtamtinh577@gmail.com</a><br />

    </address>
</center>
<div>
    @Html.ActionLink("Back to List", "Index","TTSHOP")
</div>