@model TTshop.Models.NGUOIDUNG

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var u = Session["use"] as TTshop.Models.NGUOIDUNG;
}

@{
    if (u != null)
    {

        <h2>Xin chào : @u.EMAIL</h2>
        @Html.ActionLink("Đăng xuất", "DangXuat", "User")
    }

    <div> TTSHOP</div>

}